.loader-listing {
    display: none;
}

#preloader-listing {
    position: absolute;
    top :0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 55vh;
}

#message-preloader {
    margin-top: 38vh;
    font-size: 18px;
}